/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./includes/post/assets/scss/post.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.post-wrapper .post-filters {
  border-bottom: solid 1px #b8cfdb;
  border-top: solid 1px #b8cfdb;
  display: flex;
  font-size: var(--font-size--small);
  justify-content: space-between;
  margin-bottom: 5.8rem;
  padding: 30px 0;
  text-transform: uppercase;
}
.post-wrapper .post-filters a {
  cursor: pointer;
  color: var(--color-teal-dark);
}
.post-wrapper .post-filters a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  .post-wrapper .post-filters .in__filter-icon {
    display: none;
  }
}
.post-wrapper .post-filters .in__filter-icon a {
  height: 32px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-wrapper .post-filters > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-wrapper .post-filters > ul.in__filters-wrapper {
  background: var(--color-white);
  border-left: 1px solid #b8cfdb;
  bottom: 0;
  box-shadow: 0px 0 10px 2px rgb(184, 207, 219);
  display: none;
  left: 100%;
  max-width: 80%;
  padding: 0 2rem 2rem;
  position: fixed;
  top: calc(64px + var(--wp-admin--admin-bar--height));
  transition: all 0.4s ease;
  width: 300px;
  z-index: 1;
}
.post-wrapper .post-filters > ul.in__filters-wrapper.active {
  left: auto;
  display: block;
  right: 0;
}
.post-wrapper .post-filters > ul.in__filters-wrapper .in__close {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
.post-wrapper .post-filters > ul.in__filters-wrapper .in__close a {
  background: transparent url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e) center/1em auto no-repeat;
  border: 0;
  color: #000;
  cursor: pointer;
  display: block;
  height: 1em;
  opacity: 0.5;
  text-indent: -9999px;
  width: 1em;
}
.post-wrapper .post-filters > ul.in__filters-wrapper .in__close a:hover {
  opacity: 0.75;
}
@media screen and (min-width: 992px) {
  .post-wrapper .post-filters > ul.in__filters-wrapper {
    align-items: center;
    border: 0;
    box-shadow: none;
    display: flex;
    gap: 3rem;
    max-width: none;
    padding: 0;
    position: static;
    width: auto;
  }
  .post-wrapper .post-filters > ul.in__filters-wrapper .in__close {
    display: none;
  }
  .post-wrapper .post-filters > ul.in__filters-wrapper .in__label {
    padding-top: 0;
  }
}
.post-wrapper .post-filters > ul.in__sort-wrapper > li {
  padding-top: 0;
}
.post-wrapper .post-filters > ul.in__sort-wrapper .in__options {
  background-color: var(--color-white);
  border-left: 1px solid #b8cfdb;
  box-shadow: 0px 4px 10px 2px rgb(184, 207, 219);
  max-height: 40vh;
  min-width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem 1.2rem;
  position: absolute;
  z-index: 10;
}
.post-wrapper .post-filters > ul .in__filter {
  position: relative;
}
@media screen and (min-width: 992px) {
  .post-wrapper .post-filters > ul .in__filter {
    padding-top: 0;
  }
}
.post-wrapper .post-filters .post-filter::after,
.post-wrapper .post-filters .post-sort::after {
  background: transparent no-repeat scroll center center/3rem url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzAwNTU3ZCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xODEuNjYsMTMzLjY2bC04MCw4MGE4LDgsMCwwLDEtMTEuMzItMTEuMzJMMTY0LjY5LDEyOCw5MC4zNCw1My42NmE4LDgsMCwwLDEsMTEuMzItMTEuMzJsODAsODBBOCw4LDAsMCwxLDE4MS42NiwxMzMuNjZaIj48L3BhdGg+PC9zdmc+);
  content: "";
  display: inline-block;
  height: 2rem;
  margin-left: 1.2rem;
  width: 2rem;
  transform: rotate(90deg) translate(3px);
}
.post-wrapper .post-filters .in__options {
  display: none;
  list-style: none;
  margin: 0;
  padding: 1rem 0 2rem 0.5rem;
  max-height: 0;
  overflow: hidden;
  font-size: 95%;
  transition: max-height 0.4s ease;
}
.post-wrapper .post-filters .in__options.active {
  display: block;
  max-height: 40vh;
}
@media screen and (min-width: 992px) {
  .post-wrapper .post-filters .in__options {
    background-color: var(--color-white);
    border-left: 1px solid #b8cfdb;
    box-shadow: 0px 4px 10px 2px rgb(184, 207, 219);
    max-height: 0;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    position: absolute;
    z-index: 10;
  }
}
.post-wrapper .post-filters .post-filter.selected {
  color: var(--color-orange);
}
.post-wrapper .post-filters .filter-options {
  display: block;
  padding: 0 0.5rem;
}
.post-wrapper .post-filters .filter-options:hover, .post-wrapper .post-filters .filter-options.selected {
  background-color: var(--color-ice-blue);
}
.post-wrapper .entry-title {
  font-size: var(--font-size--x-regular);
}
.post-wrapper .entry-title a {
  color: inherit;
}
.post-wrapper .in__content {
  margin-top: 5%;
}
.post-wrapper .in__loading {
  align-items: center;
  display: none;
  font-size: var(--font-size--small);
  gap: 2rem;
  justify-content: center;
  padding: 10rem 0;
}
.post-wrapper .in__loading svg {
  animation: spin 2s linear infinite;
  fill: var(--color-orange);
}
.post-wrapper .in__load-more {
  text-align: center;
  border-top: solid 1px #b8cfdb;
  padding-top: 4rem;
}
@media screen and (min-width: 782px) {
  .post-wrapper .in__load-more {
    padding-top: 7rem;
  }
}
.post-wrapper .in__load-more .load-more-link {
  color: #00557D;
  cursor: pointer;
}
.post-wrapper .in__pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-transform: uppercase;
}
.post-wrapper .in__pagination .pm-button-link {
  text-transform: uppercase;
}
.post-wrapper .in__pagination .pm-button-link:disabled {
  opacity: 0.5;
}
.post-wrapper .in__pagination .pm-button-link:disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
}

.post-wrapper-home > .in__row {
  --gutter-x: 5.8rem;
  --gutter-y: 5.8rem;
}
.post-wrapper-home .et_pb_post {
  margin: 5.8rem 0 0;
}
.post-wrapper-home .et_pb_post:first-child {
  margin-top: 0;
}
.post-wrapper-home .et_pb_post .image-cover {
  aspect-ratio: 16/11;
}
.post-wrapper-home .et_pb_post .in__title {
  text-transform: uppercase;
  font-size: var(--font-size--regular);
}
.post-wrapper-home .et_pb_post .in__excerpt {
  font-size: var(--font-size--small);
  font-weight: 400;
}
.post-wrapper-home .in__first-post .in__title {
  font-size: var(--font-size--x-regular);
}
.post-wrapper-home .in__posts .et_pb_post {
  display: flex;
  gap: 2rem;
}
.post-wrapper-home .in__posts .in__content {
  margin-top: 0;
}
.post-wrapper-home .in__posts .in__image {
  flex: 0 0 33%;
  max-width: 33%;
}
.post-wrapper-home .in__posts .image-cover {
  margin: 0;
}

.post-wrapper-archive .et_pb_post {
  text-align: center;
}
.post-wrapper-archive .et_pb_post .in__small-header {
  font-size: var(--font-size--small);
  text-transform: uppercase;
}
.post-wrapper-archive .more-link-wrap {
  margin-top: 4rem;
}
.post-wrapper-archive .more-link-wrap .pm-button {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: var(--color-white);
}

.post-wrapper-rows .in__post-rows {
  display: flex;
  flex-direction: column;
  gap: 5.8rem;
}
.post-wrapper-rows .et_pb_post {
  align-items: center;
  display: flex;
  gap: 3rem;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 981px) {
  .post-wrapper-rows .et_pb_post {
    gap: 5.8rem;
  }
}
.post-wrapper-rows .et_pb_post:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .post-wrapper-rows .et_pb_post {
    align-items: stretch;
    flex-direction: column;
  }
  .post-wrapper-rows .et_pb_post:nth-child(even) {
    flex-direction: column;
  }
}
.post-wrapper-rows .in__image {
  flex: 0 0 42%;
  margin: 0;
  max-width: 42%;
}
@media screen and (max-width: 767px) {
  .post-wrapper-rows .in__image {
    flex-basis: auto;
    max-width: none;
    width: 100%;
  }
}
.post-wrapper-rows .image-cover {
  aspect-ratio: 16/10;
  margin: 0;
}
.post-wrapper-rows .in__content {
  flex: 1 1 auto;
  margin-top: 0;
}
.post-wrapper-rows .in__small-header {
  font-size: var(--font-size--small);
  text-transform: uppercase;
}
.post-wrapper-rows .in__excerpt {
  font-size: var(--font-size--small);
  font-weight: 400;
}
.post-wrapper-rows .more-link-wrap {
  margin-top: 3rem;
}
.post-wrapper-rows .more-link-wrap .pm-button {
  color: var(--color-white);
}
.post-wrapper-rows .more-link-wrap .pm-button:hover {
  color: var(--color-white);
  text-decoration: none;
}
.post-wrapper-rows .in__pagination {
  margin-top: 5.8rem;
}

.post__title-on-image {
  position: relative;
}
.post__title-on-image .in__content {
  background: rgba(3, 49, 71, 0.5);
  bottom: 0;
  color: var(--wp--preset--color--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
.post__title-on-image .in__content * {
  color: inherit !important;
}

body.single-post {
  --share-button-height: 25rem;
}
body.single-post .post-excerpt {
  color: var(--color-primary);
}
body.single-post .single-post-image {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 981px) {
  body.single-post .post-share-buttons + .et_pb_post_content {
    margin-top: calc(var(--share-button-height) * -1);
  }
}
@media screen and (min-width: 981px) {
  body.single-post .post-share-buttons {
    position: sticky;
    height: var(--share-button-height);
    margin: 0 0 0 -5% !important;
    top: 40px;
    margin-left: -5% !important;
  }
}
@media screen and (min-width: 1600px) {
  body.single-post .post-share-buttons {
    margin-left: -8% !important;
  }
}
body.single-post .post-share-buttons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 981px) {
  body.single-post .post-share-buttons ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  body.single-post .post-share-buttons ul li {
    padding: 0;
  }
}
body.single-post .post-share-buttons a {
  align-items: center;
  background-color: #cbdce4;
  border-radius: 5.3rem;
  color: #00557D;
  display: flex;
  font-size: 16px;
  height: 4rem;
  justify-content: center;
  width: 4rem;
}
@media screen and (min-width: 768px) {
  body.single-post .post-share-buttons a {
    font-size: 24px;
    height: 5.3rem;
    width: 5.3rem;
  }
}
@media screen and (min-width: 980px) {
  body.single-post .post-content-left-padding {
    padding-left: 5%;
  }
}

/*# sourceMappingURL=post.css.map*/
